<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Realtime_Data</title>
    <style>
        table, th, td {
            border: 1px solid black;
          }
    </style>
</head>
<body>
  <h1 style="text-align: center;">Real-time Data Tracker App</h1>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5">
                <table style="width:100%">
                    <tr>
                      <th>Name</th>
                      <th>Open Amount</th>
                      <th>High Amount</th>
                      <th>Low Amount</th>
                      <th>Close Amount</th>
                    </tr>
                    <tr>
                      <td>Apple</td>
                      <td id='apple_open'>{{text}}</td>
                      <td id='apple_high'>{{text}}</td>
                      <td id='apple_low'>{{text}}</td>
                      <td id='apple_close'>{{text}}</td>
                      
                      
                      
                      
                    </tr>
                    <tr>
                      <td>Amazon</td>
                      <td id='amazon_open'>{{text}}</td>
                      <td id='amazon_high'>{{text}}</td>
                      <td id='amazon_low'>{{text}}</td>
                      <td id='amazon_close'>{{text}}</td>
                    </tr>
                    <tr>
                      <td>Tesla</td>
                      <td id='tesla_open'>{{text}}</td>
                      <td id='tesla_high'>{{text}}</td>
                      <td id='tesla_low'>{{text}}</td>
                      <td id='tesla_close'>{{text}}</td>
                    </tr>
                    <tr>
                      <td>Meta</td>
                      <td id='meta_open'>{{text}}</td>
                      <td id='meta_high'>{{text}}</td>
                      <td id='meta_low'>{{text}}</td>
                      <td id='meta_close'>{{text}}</td>
                    </tr>
                    <tr>
                      <td>Microsoft</td>
                      <td id='microsoft_open'>{{text}}</td>
                      <td id='microsoft_high'>{{text}}</td>
                      <td id='microsoft_low'>{{text}}</td>
                      <td id='microsoft_close'>{{text}}</td>
                    </tr>
                  </table>

                {% comment %} <h1 id='app'>{{text}}</h1>
                <h1 id='apps'>{{text}}</h1>
                <h1 id='appss'>{{text}}</h1> {% endcomment %}
            </div>
        </div>
    </div>


    <script>
        var socket=new WebSocket('ws://localhost:8000/ws/some_url/');
        socket.onmessage=function(event){
            var data=JSON.parse(event.data);
            console.log(data);
            document.querySelector('#amazon_open').innerText=data.amazon_open_amount;
            document.querySelector('#amazon_high').innerText=data.amazon_high_amount;
            document.querySelector('#amazon_low').innerText=data.amazon_low_amount;
            document.querySelector('#amazon_close').innerText=data.amazon_close_amount;
            document.querySelector('#tesla_open').innerText=data.tesla_open_amount;
            document.querySelector('#tesla_high').innerText=data.tesla_high_amount;
            document.querySelector('#tesla_low').innerText=data.tesla_low_amount;
            document.querySelector('#tesla_close').innerText=data.tesla_close_amount;
            document.querySelector('#apple_open').innerText=data.apple_open_amount;
            document.querySelector('#apple_high').innerText=data.apple_high_amount;
            document.querySelector('#apple_low').innerText=data.apple_low_amount;
            document.querySelector('#apple_close').innerText=data.apple_close_amount;
            document.querySelector('#microsoft_open').innerText=data.microsoft_open_amount;
            document.querySelector('#microsoft_high').innerText=data.microsoft_high_amount;
            document.querySelector('#microsoft_low').innerText=data.microsoft_low_amount;
            document.querySelector('#microsoft_close').innerText=data.microsoft_close_amount;
            document.querySelector('#meta_open').innerText=data.meta_open_amount;
            document.querySelector('#meta_high').innerText=data.meta_high_amount;
            document.querySelector('#meta_low').innerText=data.meta_low_amount;
            document.querySelector('#meta_close').innerText=data.meta_close_amount;
        }
    </script>
</body>
</html>